<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Moq" version="4.2.1502.0911" targetFramework="net45" userInstalled="true" />
  <package id="NUnit" version="3.0.0-beta-2" targetFramework="net45" userInstalled="true" />
  <package id="NunitRunnerTask" version="2.0.7" targetFramework="net45" userInstalled="true" />
</packages>