<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AssemblyPatcherTask" version="1.0.5" targetFramework="net452" />
  <package id="FParsec" version="1.0.2" targetFramework="net452" />
  <package id="FSharp.Compiler.Service" version="13.0.0" targetFramework="net452" />
  <package id="FSharp.Compiler.Service.MSBuild.v12" version="13.0.0" targetFramework="net452" />
  <package id="FSharp.Compiler.Service.ProjectCracker" version="13.0.0" targetFramework="net452" />
  <package id="FSharpLint.Core" version="0.7.6" targetFramework="net452" />
</packages>