<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.3" targetFramework="net45" />
  <package id="CredentialManagement" version="1.0.1" targetFramework="net45" />
  <package id="Fody" version="1.26.3-beta0001" targetFramework="portable-net45+win+wp80+MonoAndroid10+MonoTouch10" developmentDependency="true" />
  <package id="PropertyChanged.Fody" version="1.48.6" targetFramework="portable-net45+win+wp80+MonoAndroid10+MonoTouch10" developmentDependency="true" />
  <package id="MahApps.Metro" version="0.14.0.0" targetFramework="net45" />
  <package id="MvvmLight" version="5.0.2.0" targetFramework="net45" />
  <package id="MvvmLightLibs" version="5.0.2.0" targetFramework="net45" />
  <package id="Microsoft.CodeAnalysis.Common" version="1.0.0-beta1-20141031-01" targetFramework="portable-net45+win+MonoAndroid10+MonoTouch10" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="1.0.0-beta1-20141031-01" targetFramework="portable-net45+win+MonoAndroid10+MonoTouch10" />
  <package id="Microsoft.CodeAnalysis.CSharp.Workspaces" version="1.0.0-beta1-20141031-01" targetFramework="portable-net45+win+MonoAndroid10+MonoTouch10" />
  <package id="Microsoft.CodeAnalysis.Workspaces.Common" version="1.0.0-beta1-20141031-01" targetFramework="portable-net45+win+MonoAndroid10+MonoTouch10" />
  <package id="Microsoft.Composition" version="1.0.27" targetFramework="net45" />
</packages>