<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Foq" version="1.7.1" targetFramework="net45" />
  <package id="NUnit" version="3.0.1" targetFramework="net452" />
  <package id="VSSonarExtensionPlugin3Api" version="6.3.0" targetFramework="net452" />
  <package id="VSSonarExtensionPlugin4Api" version="6.3.0" targetFramework="net452" />
  <package id="VSSonarExtensionPlugin41Api" version="6.3.0" targetFramework="net452" />
</packages>